.drone-icon {
    width: 4em;
    height: 4em;
    cursor: pointer;
}

.drone-info {
    width: 12em;
    height: 6em;
    border: solid lightgrey 1px;
    background-color: whitesmoke;
    box-shadow: 3px 3px 6px grey;
    border-radius: 4px;
    margin: 1em;
}
