.container {
    height: 5em;
    display: flex;
    justify-content: center;
    place-items: center;
    border: solid lightgrey 1px;
    background-color: whitesmoke;
    box-shadow: 3px 3px 6px grey;
    border-radius: 4px;
}

.all-clear {
    background-color: mediumseagreen;
    color: white;
}
