.App {
  height: 100%;
  width: 100%;
  text-align: center;
  /* border: solid green 2px; */
}
.secbox {
  height: 10%;
}

#react-chrono-timeline {
  display: none !important;
}

.timeline-item-title {
  display: none !important;
}

.active {
  display: inline !important;
}
